@import url("https://fonts.googleapis.com/css?family=Questrial");

.App {
  text-align: center;
  font-family: "Questrial";
  margin-bottom: 40px;
}

h2 {
  font-size: 2em !important;
  color: #6fb9a8 !important;
  font-weight: bold !important;
  padding-bottom: 15px;
}

h3 {
  font-size: 1.3em !important;
  color: #6fb9a8 !important;
  font-weight: bold !important;
  padding-top: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.indPoints {
  font-size: 1.4em !important;
}

.Points {
  font-weight: bold;
  color: #61dafb;
}
