.BadgeEquipe{
    
}

.PetiteGraine{
    color: green;

}

.JeunePousse{
    color: darkmagenta;
}

.Pissenlit{
    color: orange;
}

.Bonsaï{
    color:blue;
}

.Cerisier{
    color: #d1db34;

}

.Baobab{
 color: red;
}

.Equipe{
    
}