.image1 img {
    width: 100%;
  /* filter: grayscale(100%); */
}

.image2 img {
  width: 100%;
/* filter: grayscale(100%); */
}

.image3 img {
  width: 100%;
filter: grayscale(100%);
}

.image4 img {
  width: 100%;
filter: grayscale(100%);
}