@import url("https://fonts.googleapis.com/css?family=Questrial");

.mynavbar {
  position: fixed;
  color: black !important;
  font-size: 1.8em;
  margin: 5vmin 10vmin 10vmin 20vmin;
  font-family: "Questrial";
}

.mynavbar a {
  color: black !important;
}

.activeLien {
  text-decoration: underline #6fb9a8;
}

.navigation {
  width: 70%;
  margin: 0 auto;
}

.itemMenu {
  padding-left: 10vmin;
}

.logohome {
  width: 15%;
  height: auto;
}

.logohome img {
  width: 100%;
  height: auto;
}
