.ScoreEquipe{
    font-size: 2em;
}

.Marquage{
    color:#6fb9a8;
    font-weight: bold;
    
}

.Encars{
    width: 60%;
    margin: 0 auto;
    background-color: #e4e4e4;
    border-radius: 3px;
}
