.TitreBadge {
  margin-top: 2%;
}

.badges {
  justify-content: space-between;
  display: flex;
}

.success {
  width: 80%;
  margin: 0 auto;
}

.badgeItem {
  float: left;
  text-align: center;
}

.badgeItem img {
  width: 100px;
  height: auto;
  margin-top: 25%;
}

.badgeItemGris {
  float: left;
  text-align: center;
  opacity: 0.2;
}

.badgeItemGris img {
  width: 100px;
  height: auto;
  margin-top: 25%;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.badgeItem2 img {
  width: 100px;
  height: auto;
}

.reussites {
  margin-top: 60px;
  bottom: 40px;
}

.circle {
  margin: 20px;
  width: 50px;
  background: #6fb9a8;
  height: 50px;
  text-align: center;
  border-radius: 100px;
  line-height: 40px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  padding: 5px;
  float: left;
}

.reussiteItem {
  width: 100%;
  float: left;
}

.reussiteText {
  float: left;
  height: 50px;
  padding-top: 35px;
}
